*{
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
:root{
    --base-color: #95c3d0;
    --background-color: #002339;
}

body{
    background: var(--background-color);
    color: #fff;
}
.container{
    margin: 12%;
    width: 90%;
    max-width: 700px;
}
.display{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    background: #fff;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px;
    border-radius: 5px;    
}
.container h1{
    font-weight: 500;
    font-size:45px; 
    margin-bottom: 20px;
}
.container h1 span{
    color: var(--base-color);
    border-bottom: 4px solid var(--base-color);
    padding-bottom: 7px;
}


.checkboxes{
    margin: 10px 0 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dva stolpca */
    max-width: 300px;
}

.options {
    margin-bottom: 20px;
    font-size: 18px;
}

.options label {
    margin-right: 10px;
    color: #fff;
}

.options input[type="number"] {
    width: 50px;
    padding: 5px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
}

.options input[type="checkbox"] {
    width: 18px; 
    height: 18px; 
    cursor: pointer;
}

.error{
    color:#de6363;
    display: none;
}
.btnGenerate{
    margin: 10px 0 0 0;
}

.display img{
    width: 30px;
    cursor: pointer;
}
.display input{
    border: 0;
    outline: 0;
    font-size: 24px;
    width: 90%;
}
.container button img{
    width: 28px;
    margin-right: 10px;
}
.container button{
    border:0;
    outline:0;
    background: var(--base-color);
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 16px 26px;
    border-radius: 5px;
    cursor: pointer;
}